html,
body,
ul,
ol,
li,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
* {
  box-sizing: border-box;
}
@media screen and (orientation: portrait) {
  /*竖屏 css*/
  .block {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  /*横屏 css*/
  .block {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 100vh;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: 'Miscrosoft Yahei', '微软雅黑';
  font-size: 14px;
  overflow: hidden;
}
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 110;
  background: #333;
  color: white;
  text-align: center;
}
.loading .bg {
  background: url(http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/main/loading.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: 40vh auto;
  line-height: 100px;
  animation: myrotate 2s linear 0s infinite normal;
}
.loading .percent {
  position: absolute;
  top: 40vh;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 110;
  display: none;
  top: 0;
  left: 0;
}
.video span {
  position: absolute;
  font-size: 50px;
  top: 10px;
  right: 10px;
}
.video div {
  width: 100%;
  height: 100%;
}
.share {
  display: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
  background-image: url('http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/main/bg.jpg');
  background-size: cover;
  background-position: center;
}
audio {
  display: none;
}
.btn-bgm {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-image: url('http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/main/music.png');
  z-index: 100;
  animation: myrotate 5s linear 0s infinite normal;
}
.btn-bgm-pause {
  background-position: 0px -30px;
  animation: none;
}
@keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.logo {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 38px;
}
.logo img {
  width: 50%;
}
.dynamic {
  width: 100%;
  height: 100%;
}
.dynamic > div {
  position: absolute;
}
.dynamic .building1 {
  width: 300%;
  height: 30vh;
  bottom: 10px;
  left: 0%;
  background-image: url('http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/building_2.png');
  background-size: 33.33%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.dynamic .building2 {
  width: 300%;
  height: 30vh;
  bottom: 15px;
  left: 0%;
  background-image: url('http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/building.png');
  background-size: 33.33%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.dynamic .road {
  width: 300%;
  height: 6vh;
  bottom: 0;
  left: 0%;
  background-image: url('http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/road.png');
  background-size: 33.33%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.dynamic .bus {
  width: 30%;
  bottom: 1vh;
}
.dynamic .bus img {
  width: 100%;
}
.scene01 {
  background-image: url(http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/scene01/float.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scene01 > div {
  text-align: center;
}
.scene01 .s1 {
  position: relative;
  z-index: 1;
  margin-top: 10vh;
}
.scene01 .s1 img {
  width: 70%;
}
.scene01 .s2 {
  margin-top: -27vh;
}
.scene01 .s2 img {
  width: 100%;
}
.scene01 .hand {
  position: absolute;
  width: 56px;
  height: 81px;
  background: url('http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/scene01/finger.png') no-repeat;
  background-size: cover;
  left: 30px;
  bottom: 10vh;
  animation: slidehand 1.5s infinite;
  display: none;
}
@keyframes slidehand {
  from {
    left: 80vw;
    opacity: 0.5;
  }
  to {
    left: 10vw;
    opacity: 1;
  }
}
.scene02 {
  background-image: url(http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/scene02/float.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scene02 > div {
  text-align: center;
}
.scene02 .s1 {
  margin-top: 15vh;
}
.scene02 .s1 img {
  width: 70%;
}
.scene02 .s2 {
  margin-top: -4vh;
}
.scene02 .s2 img {
  width: 80%;
}
.scene02 .s3 img {
  width: 40%;
}
.scene03 {
  background-image: url(http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/scene03/float.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scene03 > div {
  text-align: center;
}
.scene03 .s1 {
  margin-top: 15vh;
}
.scene03 .s1 img {
  width: 80%;
}
.scene03 .s2 {
  margin-top: 2vh;
}
.scene03 .s2 img {
  width: 80%;
}
.scene03 .s3 {
  margin-top: 2vh;
}
.scene03 .s3 img {
  width: 50%;
}
.scene03 .s4 {
  margin-top: 1vh;
}
.scene03 .s4 img {
  width: 80%;
}
.scene-guest {
  background-image: url(http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/scene-guest/float.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scene-guest > div {
  text-align: center;
}
.scene-guest .s1 {
  position: relative;
  margin-top: 15vh;
  z-index: 10;
}
.scene-guest .s1 img {
  width: 60%;
}
.scene-guest .s2 {
  margin-top: -7vh;
}
.scene-guest .s2 img {
  width: 90%;
}
.scene-guest .s3 {
  margin-top: 0vh;
  position: relative;
}
.scene-guest .s3 img {
  width: 50%;
}
.scene-guest .s3 span {
  width: 100%;
  height: 100%;
  line-height: 6.5vh;
  color: aqua;
  font-size: 1.2em;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.guest0 .s2 {
  margin-top: -10vh;
}
.guest1 .s1 img {
  width: 80%;
}
.guest1 .s2 {
  margin-top: -7vh;
}
.guest2 .s1 img {
  width: 80%;
}
.scene04 {
  background-image: url(http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/scene04/float.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scene04 > div {
  text-align: center;
}
.scene04 .s1 {
  margin-top: 13vh;
}
.scene04 .s1 img {
  width: 80%;
}
.scene04 .s2 {
  margin-top: -3vh;
}
.scene04 .s2 img {
  width: 95%;
}
.scene04 .s3 {
  margin-top: -2vh;
}
.scene04 .s3 img {
  width: 50%;
}
.scene05 {
  background-image: url(http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/scene05/float.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scene05 > div {
  text-align: center;
}
.scene05 .s1 {
  margin-top: 5vh;
  position: relative;
  z-index: 1;
}
.scene05 .s1 img {
  width: 80%;
}
.scene05 .s2 {
  margin-top: -4.5vh;
}
.scene05 .s2 img {
  width: 80%;
}
.scene05 .s3,
.scene05 .s4 {
  margin-top: 2vh;
}
.scene05 .s3 img,
.scene05 .s4 img {
  width: 50%;
}
.scene06 {
  background-image: url(http://tronm.oss-cn-shanghai.aliyuncs.com/ctrip/aa/scene06/float.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scene06 > div {
  text-align: center;
}
.scene06 .s1 {
  margin-top: 20vh;
}
.scene06 .s1 img {
  width: 100%;
}
.scene06 .s2 {
  margin-top: -1vh;
}
.scene06 .s2 img {
  width: 50%;
}
.enroll {
  width: 100%;
  height: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  background: #191919;
  z-index: 2;
  display: none;
}
.enroll .close {
  float: right;
  font-size: 30px;
  margin-right: 10px;
}
.enroll img.title {
  clear: both;
  display: block;
  width: 60vw;
  margin: 10vh auto 5vh auto;
}
.enroll dl {
  padding: 0 12vw;
}
.enroll dl dt {
  font-size: 16px;
}
.enroll dl dt::after {
  content: '：';
}
.enroll dl dt span {
  float: right;
  color: crimson;
}
.enroll dl dd {
  height: 30px;
  margin: 8px 0 30px 0;
}
.enroll dl dd input {
  width: 100%;
  height: 100%;
  background: #191919;
  padding: 0 5px;
  color: white;
}
.enroll img.submit {
  display: block;
  width: 50vw;
  margin: 5vh auto 1vh auto;
}
.enroll .tips {
  text-align: center;
}
#guest input {
  border: 1px solid #5c24e9;
}
#anyone input {
  border: 1px solid #f42afa;
}